<strong>Olá, {{ organizer }}</strong>
<p>Seu meetup <strong>{{ meetup }}</strong>, ganhou um novo inscrito. Confira os dados da inscrição:</p>
<p>
  <strong>Usuário:</strong> {{ subscriber }} <br />
  <strong>Data da inscrição:</strong> {{ date }} <br />
</p>
